@model OrganizaTe.Models.CadeirasTurmasToDropDown

@{
    ViewBag.Title = "Inscricoes";
}

<h2>Inscricoes</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Inscricoes.AlunosFK)

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Inscricoes.CadeirasFK, "Cadeiras", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Inscricoes.CadeirasFK", new SelectList(Model.Cadeiras, "ID", "Nome"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Inscricoes.CadeirasFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Inscricoes.TurmasFK, "Turmas", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Inscricoes.TurmasFK", new SelectList(Model.Turmas, "ID", "ConcatText"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Inscricoes.TurmasFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adicionar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar Atrás", "IndexCadeiras")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
