@model OrganizaTe.Models.Inscricoes

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar esta cadeira inscrita na turma?</h3>
<div>
    <h4>Inscricoes</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Cadeira.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadeira.Nome)
        </dd>

        <dt>
            Turma Inscrita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.Curso.Nome) @Html.DisplayFor(model => model.Turma.Ano) @Html.DisplayFor(model => model.Turma.Turma)

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar Atrás", "IndexCadeiras")
        </div>
    }
</div>
