@model IEnumerable<OrganizaTe.Models.Inscricoes>

@{
    ViewBag.Title = "Cadeiras Inscritas";
}

<h2>Cadeiras Inscritas</h2>

<p>
    @Html.ActionLink("Inscrever a uma nova cadeira", "CreateInital")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cadeira.Nome)
        </th>
        <th>
            Turma Inscrita
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cadeira.Nome)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Turma.Curso.Nome)</p>
                <p>Ano: @Html.DisplayFor(modelItem => item.Turma.Ano)</p>
                <p>Turma: @Html.DisplayFor(modelItem => item.Turma.Turma)</p>
                <p>Semestre: @Html.DisplayFor(modelItem => item.Turma.Semestre)</p>
            </td>
            <td>
                @Html.ActionLink("❌", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar atrás", "IndexHorarios")
</div>
